# Build artifacts
build/
bin/
lib/
*.o
*.a
*.so
*.dylib
*.exe
dump_spk

# JPL Ephemerides
*.bsp

# Occultation Outputs (Temporary test files)
*.svg
*.kml
*.xml
!astdyn/docs/*.xml
!astdyn/benchmarks/data/*.xml

# IDE and System files
.vscode/
.DS_Store
*.swp
*.user
